.impares {
    background-color: #ffa7a7;
    font-family: verdena, dejaVu sans, sans-serif;
}

#num2 {
    color: #0000ff;
    font-size: 36px;
}

#num3 {
    font-size: 24px;
}

#num4 {
    background-color: #00ff00;
    font-weight: bold;
    font-size: 24px;
}